/* img{
    vertical-align: middle;
    width: 50px;
    border-radius: 50%;
} */

.input{
width: 500px;
margin: auto;
margin-bottom: 50px;
}
h3{
    text-align: center;
}
.container{
    margin-top: 50px;
}
